<?xml version='1.0' encoding='utf-8'?>
<Server port='8005' shutdown='SHUTDOWN'>
	<Listener className='org.apache.catalina.startup.VersionLoggerListener' />
	<Listener className='org.apache.catalina.core.AprLifecycleListener' SSLEngine='on' />
	<Listener className='org.apache.catalina.core.JreMemoryLeakPreventionListener' />
	<Listener className='org.apache.catalina.mbeans.GlobalResourcesLifecycleListener' />
	<Listener className='org.apache.catalina.core.ThreadLocalLeakPreventionListener' />
	<Service name='Catalina'>
		<Connector port='8080' protocol='HTTP/1.1' connectionTimeout='20000' redirectPort='8443' />
		<Connector port='8009' protocol='AJP/1.3' redirectPort='8443' />

		<Connector port='8443' protocol='org.apache.coyote.http11.Http11NioProtocol' maxThreads='150' SSLEnabled='true'
		           scheme='https' secure='true' clientAuth='true' sslProtocol='TLS'
		           keystoreFile='${catalina.home}/conf/server.jks' keystorePass='password'
		           truststoreFile='${catalina.home}/conf/server.jks' trustStorePass='password'/>

		<Engine name='Catalina' defaultHost='localhost'>
			<Host name='localhost' appBase='webapps' unpackWARs='true' autoDeploy='true'>
				<Valve className='org.apache.catalina.valves.AccessLogValve' directory='logs'
				       prefix='localhost_access_log' suffix='.txt' pattern='%h %l %u %t &quot;%r&quot; %s %b' />
			</Host>
		</Engine>
	</Service>
</Server>
